<div class="blog-post">
  <h2 class="title"><%= article.name %></h2>
  <p class="meta">
    <%= current_user ? "Published on #{article.published_on}" : " Published #{time_ago_in_words(article.published_on)} ago" %>
    by <%= article.user.email %>
  </p>
  <div class="content">
    <%= raw(article.content).truncate(55) %><%= link_to ' Read more', article %>
  </div>
  <hr>
</div><!-- /.blog-post -->