<% content_for :head, auto_discovery_link_tag(:atom, articles_url(format: :atom)) %>
<%= link_to image_tag("feed.png"), articles_url(format: :atom), class: 'pull-right', target: '_blank' %>
<div class="blog-header">
  <h1 class="blog-title">The Codeplace Blog</h1>
  <p class="lead blog-description">Where great software stories are told</p>
</div>

<div class="row">
  <div class="col-lg-12 blog-main">
    <div class="text-center will-pagination">
      <%= will_paginate @articles, renderer: BootstrapPagination::Rails, previous_label: h("<"), next_label: h(">") %>
    </div>
    <%= render @articles %>
  </div><!-- /.blog-main -->
</div><!-- /.row -->
