<div class="container">
    <div class="row">
      <div class="col-lg-10">
        <div class="blog-post">
          <h2 class="title"><%= @article.name %></h2>
          <div class="content">
            <%= @article.content %>
          </div>
          <%= link_to "Edit", edit_article_path(@article) if @article.user == current_user%>
          <%= link_to 'Back to articles', articles_path %>
        </div>
      </div>
   </div>
</div>